body {
  font-family: 'Rubik', sans-serif;
  margin: 0vw;
  color: #000000;
  background: #ffffff;
  width: auto;
  overflow-x: hidden;
}

html {
scroll-behavior: smooth;
}

.container { 
  display: grid;
  grid-template-columns: 1fr;

}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1.638888888888889vw;
}

.right {
  display: flex;
}

.nav-wrapper > .right > div {
  margin-right: 1.9944444444444444vw;
  font-size: 1.4777777777777777vw;
}

.linkwrapper {
  height: 2.3333333333333335vw;
  border-bottom: 0.0833333333333334vw solid transparent;
  transition: border-bottom 0.5s;
}

.linkwrapper a {
  color: #000000;
  text-decoration: none;
  transition: color 0.5s;
}

.linkwrapper:hover {
  border-bottom: 0.20833333333333334vw solid rgb(0, 0, 0);
}

.linkwrapper a:hover {
  color: 1px solid rgb(0, 0, 0);
  color: #8a7575;
}

.nav-wrapper > .left > div {
  margin-left: 2.361111111111111vw;
  font-size: 1.7777777777777777vw;
}

.name a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.container {
  position: relative;
}

.center {
  position: absolute;
  top: 20.77777777777778vw;
  width: 88.88888888888889vw;;
  text-align: center;
  margin-left: 6.944444444444445vw;
  font-size: 4.88888888888889vw;
  font-weight: 800;
  color: #ffffff;
}

img { 
  width: 100vw;
  height: 40.97222222222222vw;
  
}

.description {
      position: absolute;
      width: 100vw;
      height: 162px;
      font-weight: 400;
      font-size: 2.3777777777777777vw;
      text-align: center;
      color: #ffffff;
      top: 28.7vw;
  }

h2 {
  width: 90vw; 
  position: relative;
  text-align: center; 
  border-bottom: 0.06944444444444445vw solid #928A8A; 
  line-height: 0.1em;
  margin-bottom: 3.4722222222222223vw;
  font-size: 2.0833333333333335vw;
  margin-left: 5.347222222222222vw;
  top: 1.5277777777777777vw;
} 

h2 span { 
   background:#ffffff; 
   color: #000000;
   padding:0px 2.0833333333333335vw 0px 2.0833333333333335vw; 
}

.image2 {
  display: block;
  width: 100%;
  border-radius: 30px;
  height: auto;
}

.image3 {
display: block;
width: 100%;
height: auto;
border-radius: 30px;
}

.image4 {
display: block;
width: 100%;
height: auto;
border-radius: 30px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 30px;
}

.image5 {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 30px;
}

.image6 {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 30px;
}

.container3 {
  position: absolute;
  margin-left: 5.555555555555555vw;
  width: 42.361111111111114vw;
  height: auto;
  top: 71.9vw;
  
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  border-radius: 30px;
  background-color: #76B1FC;
}

.container3:hover .overlay {
  opacity: 95%;
  transform: scale(1.05)
}

.box1{
  position:absolute;
  top: 19.583333333333332vw;
  left: 0;
  background-color: white;
  height: 8.333333333333334vw;
  width: 42.11805555555556vw;
  padding-left: 0.2777777777777778vw;
  color: #000000;
  font-size: 1.2vw;
}

.text {
  color: rgb(255, 255, 255);
  font-size: 4.166666666666667vw;
  font-weight: 900;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 2px 2px #564e4e
}

.container4 {
  position: absolute;
  width: 42.361111111111114vw;
  left: 52.083333333333336vw;
  height: auto;
  top: 71.9vw;

}

.overlay4 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  border-radius: 30px;
  background-color: #e23607;
}

.container4:hover .overlay4 {
  opacity: 95%;
  transform: scale(1.05)
}

.box2{
  position:absolute;
  top: 19.583333333333332vw;
  left: 0;
  background-color: white;
  height: 8.333333333333334vw;
  width: 42.11805555555556vw;
  padding-left: 0.2777777777777778vw;
  color: #000000;
  font-size: 1.2vw;
}

.text4 {
  color: rgb(255, 255, 255);
  font-size: 4.166666666666667vw;
  font-weight: 900;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 2px 2px #564e4e
}
.container5 {
position: absolute;
margin-left: 5.347222222222222vw;
width: 42.361111111111114vw;
left: 0%;
height: auto;
top: 104.86111111111111vw;
}

.overlay5 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  border-radius: 30px;
  background-color: #203864;
}

.container5:hover .overlay5 {
  opacity: 95%;
  transform: scale(1.05)
}

.box3{
  position:absolute;
  top: 19.583333333333332vw;
  left: 0;
  background-color: white;
  height: 8.333333333333334vw;
  width: 42.11805555555556vw;
  padding-left: 0.2777777777777778vw;
  color: #000000;
  font-size: 1.2vw;
}

.text5 {
  color: rgb(255, 255, 255);
  font-size: 4.166666666666667vw;
  font-weight: 900;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 2px 2px #564e4e
}

.container6 {
position: absolute;
width: 42.361111111111114vw;
left: 52.083333333333336vw;
height: auto;
top: 104.86111111111111vw;
}

.overlay6 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  border-radius: 30px;
  background-color: #185C37;
}

.container6:hover .overlay6 {
  opacity: 95%;
  transform: scale(1.05)
}

.box4{
  position:absolute;
  top: 19.583333333333332vw;
  left: 0;
  background-color: white;
  height: 8.333333333333334vw;
  width: 42.11805555555556vw;
  padding-left: 0.2777777777777778vw;
  color: #000000;
  font-size: 1.2vw;
}

.text6 {
  color: rgb(255, 255, 255);
  font-size: 4.166666666666667vw;
  font-weight: 900;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 2px 2px #564e4e
}

.container7 {
  position: absolute;
  margin-left: 5.555555555555555vw;
  width: 42.361111111111114vw;
  left: 0%;
  height: auto;
  top: 137.5vw;

  }
  
.overlay7 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    border-radius: 30px;
    background-color: #1EC7C8;
  }
  
.container7:hover .overlay7 {
    opacity: 95%;
    transform: scale(1.05)
  }

  .box5{
    position:absolute;
    top: 19.583333333333332vw;
    left: 0;
    background-color: white;
    height: 8.333333333333334vw;
    width: 42.11805555555556vw;
    padding-left: 0.2777777777777778vw;
    color: #000000;
    font-size: 1.2vw;
  }
  
.text7 {
    color: rgb(255, 255, 255);
    font-size: 4.166666666666667vw;
    font-weight: 900;
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 2px 2px #564e4e
  }

.container8 {
  position: absolute;
  width: 42.361111111111114vw;
  left: 52.083333333333336vw;
  height: auto;
  top: 137.5vw;
  text-decoration: none;
  }
  
.overlay8 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    border-radius: 30px;
    background-color: #09b87d;
  }

.container8:hover .overlay8 {
    opacity: 95%;
    transform: scale(1.05) 
  }
  
  .box6{
    position:absolute;
    top: 19.583333333333332vw;
    left: 0;
    background-color: white;
    height: 8.333333333333334vw;
    width: 42.11805555555556vw;
    padding-left: 0.2777777777777778vw;
    text-decoration: none;
    color: #000000;
    font-size: 1.2vw;
  }

.text8 {
    color: rgb(255, 255, 255);
    font-size: 4.166666666666667vw;
    font-weight: 900;
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 2px 2px #564e4e
  }

h3 {
width: 90vw; 
text-align: center; 
border-bottom: 0.06944444444444445vw solid #928A8A; 
line-height: 0.1em;
margin-bottom: 3.4722222222222223vw;
font-size: 2.0833333333333335vw;
margin-left: 5.347222222222222vw;
} 

h3 span { 
 background:#ffffff; 
 color: #000000;
 padding:0px 2.0833333333333335vw 0px 2.0833333333333335vw; 
}

.ALLPROJECTS {
position: absolute;
top: 16.02777777777778vw;
width: 100vw;
height: 41.666666666666664vw;
}

.paragraph {
position: absolute;
width: 34.72222222222222vw;
height: 15.972222222222221vw;
margin-left: 52.083333333333336vw;
text-align: left;
display: flex;
bottom: 7.986111111111111vw;
font-size: 1.0833333333333335vw;
}

.about{
height: 32.638888888888886vw;
width: 100vw;
position: relative;
padding-top: 10px;
}

.headshot {
width:24.305555555555557vw;
height: 24.305555555555557vw;
margin-left: 18.555555555555555vw;
border: 0.3944444444444444vw solid #000000;
border-radius: 0.6944444444444444vw;
padding: 0.6944444444444444vw;
bottom: 0.6944444444444444vw;

}
footer {
width: 65.5vw;
position: relative;
height: auto;
}

.footer1 {
position: relative;
top: 100vw;
width: 100vw;
background-image: url("./Images/Rectangle.png");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
padding-left: 34.72222222222222vw;
color: white;
font-size: 2.0833333333333335vw;
font-weight: 900;
height: 5.902777777777778vw;
padding-top: 0.06944444444444445vw;
padding-bottom: 1.0416666666666667vw;
}

.icons {
position: relative;
height: 5.902777777777778vw;
width: 65.5vw;
margin-left: 53.555555555555555vw;
top: 95.43333333333333vw;
}
.linkedin {
width: 2.0833333333333335vw;
height: 2.0833333333333335vw;
}

.dribbble {
width: 2.0833333333333335vw;
height: 2.0833333333333335vw;
}

.mail {
width: 2.0833333333333335vw;
height: 2.0833333333333335vw;
padding-left: 3px;
}

.resbutton {
  width: 6.944444444444445vw;
  height: 3.4722222222222223vw;
  left: 52.083333333333336vw;
  background-color: #ffffff;
  position: absolute;
  top: 24.305555555555557vw;
  border: 0.1388888888888889vw solid #000000;
  border-radius: 1.3888888888888888vw;
  padding-left: 0.3472222222222222vw;
  text-align: center;
  color: #000000;
  font-size: 1.1458333333333333vw;
}

.container2 {
  width: 100vw
}